h1:hover {
  color: red;
}

/* 위에 마우스 커서가 올라가있는동안 빨간색으로 변함 */

a:active {
  background-color: blue;
}

/* 마우스 뗴면 작동안함. 클릭하고 있는 동안에 작동 */

#background-orange:focus {
  background-color: orange;
}

/* 사용자가 뭔가를 해야 불러와 진다.
\빈 칸에 마우스 한 번 누르니 배경색이 변경됨
뭔가를 입력하려고 하면 배경색이 변경됨 */

/* class 라던지, id 하나 부여해서
input 태그 중 하나의 태그에 포커스 가면 배경색 적용되도록 */

/* id는 고유하니까 #id명:focus 만 적어도 되는데
input#ID명:focus 라고 해도 되기는 됨. */

.class:focus {
  background-color: ivory;
}

/* class면 .cass:focus 적용해야 함 */